<div class="input-append">
  <span class="span4 uneditable-input">{{text}}</span>
  <button class="btn" {{bindAttr data-clipboard-text=text}} 
          title="Copy to clipboard"><i class="icon-copy"></i></button>
</div>