<div class="input-append">
  <span {{bindAttr class=":uneditable-input spanClass"}}>{{text}}</span>
  <button class="btn" {{bindAttr data-clipboard-text=text}} 
          title="Copy to clipboard"><i class="icon-copy"></i></button>
</div>