<div id="preview-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{name}}</h3>
  </div>
  <div class="modal-body">
    <div class="iframe-wrapper">
      <iframe {{bindAttr src=preview_url}} style="height: 530px; border: 0px; width: 100%;"></iframe>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>