<section>
  <h2 class="page-header">Configuring Apps in Blackboard Learn</h2>

  <p>The <a href="http://library.blackboard.com/ref/df5b20ed-ce8d-4428-a595-a0091b23dda3/Content/_admin_app_system/admin_app_basic_lti_tool_providers.htm" target="_blank">following page</a> explains how to set up external apps in Blackboard Learn.</p>

  <div class="row">
    <iframe src="http://library.blackboard.com/ref/df5b20ed-ce8d-4428-a595-a0091b23dda3/Content/_admin_app_system/admin_app_basic_lti_tool_providers.htm" 
class="span12" height="1700" style="margin: 0px !important;" frameborder="0"></iframe>

    <div style="padding: 50px;">
      <iframe width="840" height="630" src="http://www.youtube.com/embed/Qh_X3J8VADE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>