<div class="settings-content">
  <div class="settings-header clearfix">
    <small>{{#linkTo 'organizations.show' this classNames="pull-right"}}&laquo; Back to Organization{{/linkTo}}</small>
    <h4>Add User to {{name}}</h4>
  </div>

  <form {{action "addMember" organization on="submit"}}>
    <div class="control-group">
      <label class="control-label">Email Address</label>
      <div class="controls">
        {{input type="text" value=newEmail placeholder="Email Address" classNames="input-xlarge"}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label>
          {{input type="checkbox" checkedBinding="newIsAdmin"}}
          &nbsp;Check if member is to be an admin user
        </label>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Add Member</button>
      </div>
    </div>
  </form>

</div>