<div class="settings-content">
  <div class="settings-header clearfix">
    <small>{{#linkTo 'settings.memberships' classNames="pull-right"}}&laquo; Back to Organizations{{/linkTo}}</small>
    <h4>Add New Organization</h4>
  </div>

  <form {{action save on="submit"}} class="chunky-form">
    <div {{bindAttr class=":controls errors.name:error"}}>
      <label>Name</label>
      {{input type="text" value=name placeholder="Organization Name"}}
      <small class="below">{{errors.name}}</small>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">Create Organization</button>
        {{#linkTo 'settings.memberships' classNames="btn btn-secondary"}}Cancel{{/linkTo}}
      </div>
    </div>
  </form>
</div>